<div class="container mx-auto">
    <debug-mode></debug-mode>
    <div class="p-4 justify-between items-center bg-yellow-200">
        <div class="flex w-full justify-between items-center">
            <span class="text-gray-400 text-lg">Logger-Toggle</span>
            <label class="relative inline-block m-0 p-0 border-0 align-middle cursor-pointer disabled:opacity-60 disabled:pointer-events-none">
                <logger-toggle>
                    <!-- <input type="checkbox" name="logging" id="logging" (change)="logToggle(100)"> -->
                </logger-toggle>
            </label>
        </div>
    </div>
</div>

